.setting-form-group {
    .setting-form-toggle,
    .setting-form-number-input,
    .bx--text-input-wrapper {
        max-width: 21rem;
        padding: .5rem;
    }
}

.user-info {
    .user-info-btn {
        margin: .5rem;
    }
}